.video {
    position: relative;
    aspect-ratio: 2/3;
    display: block;
    object-fit: cover;
    width: 100%;
    background-color: #E0E0E0;
}

@media (min-width: 768px) {
    .video {
        aspect-ratio: 192 / 108;
    }
}