.module {
  position: fixed;
  z-index: 10000;
  inset: 0;
  width: 100%;
  background: rgba(16, 16, 16, 0.42);
  height: var(--locked-vh, 100vh);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

}
.close {
  border-radius: 50%;
  background:  #FFF;
  position: absolute;
  z-index: 5;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  svg {
    width: 2rem;
    height: 2rem;
  }
}
.inner {
  height: var(--locked-vh, 100vh);
  background: #FFF;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  height: 100%;

}
.label {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 0.8rem;
  &:before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    flex-shrink: 0;
    background: currentColor;
  }
}
.name {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 3.584rem */
  letter-spacing: -0.12rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 2.52rem */
  letter-spacing: -0.04rem;
  margin-bottom: 2.4rem;
}
.list {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  li {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    &:before {
      content: '';
      display: block;
      border-radius: 50%;
      width: 0.6rem;
      height: 0.6rem;
      flex-shrink: 0;
      background: currentColor;
    }

    &:not(:last-child) {
      padding-bottom: 1.2rem;
      border-bottom: 1px solid rgba(16, 16, 16, 0.12);
    }

  }
}


@media (min-width: 768px) {
  .module {
    display: flex;
    justify-content: flex-end;

  }
  .close {
    top: 4rem;
    right: 4rem;
    width: 6.4rem;
    height: 6.4rem;
    cursor: pointer;
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .inner {
    height: 100%;
    aspect-ratio: 64.7/128.4;
    overflow: hidden;
    max-height: 100%;
  }
  .info {
    padding: 3.2rem;

  }
  .label {
    font-size: 1.6rem;
    letter-spacing: -0.048rem;

    &:before {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
  .name {
    font-size: 3.2rem;
    letter-spacing: -0.16rem;
    margin-bottom: 2.4rem;
  }

  .text {
    font-size: 1.8rem;
    letter-spacing: -0.054rem;
  }
  .list {
    li {
      font-size: 2.4rem;
      &:before {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }
}