.section {
  padding-top: 11.2rem;
  background: #101010;
}

.header {
  display: grid;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.title {
  color: #fff;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  letter-spacing: -0.108rem;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  width: 100%;
  aspect-ratio: 36/64;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    will-change: transform;
    object-fit: cover;
    transition: transform 0.5s;
    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    + button {
      right: auto;
    }
  }
}

@media (min-width: 768px) {
  .section {
    padding-top: 15.6rem;
  }

  .header {
    position: relative;
    margin-bottom: 6.4rem;
    padding-left: 77rem;
  }

  .title {
    font-size: 7rem;
    letter-spacing: -0.35rem;
    width: 66.4293rem;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.2rem;
  }

  .item {
    aspect-ratio: 56.25/100;
  }
}
