.section {
  padding: 11.2rem 0 2rem;
  background-color: #101010;
  color: #fff;
}

.header {
  display: grid;
  gap: 3.2rem;
  padding-bottom: 2rem;
}

.headerTop {
  display: grid;
  gap: 2rem;
}

.title {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  letter-spacing: -0.108rem;
}

.subtitle {
  font-size: 2.4rem;
  font-style: normal;
  line-height: 112%;
  margin-bottom: 0.4rem;
}

.headerBottom {
  display: grid;
  gap: 3.2rem;
  letter-spacing: normal;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  > li:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid rgba(237, 237, 237, 0.12);
  }
}

.titleCol {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 140%;
}

.fonts {
  font-family: var(--font-satoshi), sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: #e0e0e0;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 140%;
  margin-top: 1.6rem;
}

.text {
  font-family: var(--font-satoshi), sans-serif;

  color: #e0e0e0;
  font-size: 1.4rem;
  line-height: 140%;
}

.innerRow {
  display: grid;
  grid-template-columns: 22.5rem 1fr;
  align-items: flex-end;
  gap: 3.65rem;
}

.innerCol {
  display: grid;
  gap: 1.2rem;
}

.colors {
  display: grid;
  gap: 0.8rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(237, 237, 237, 0.12);
}

.colorItem {
  padding: 1.6rem;
  height: 12.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colorItemTitle {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  letter-spacing: -0.072rem;
}

.colorsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.colorItemValue {
  display: flex;
  gap: 1.5rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@media (min-width: 768px) {
  .section {
    padding: 15.6rem 0 4rem;
  }

  .header {
    gap: 6.4rem;
    padding-bottom: 4rem;
  }

  .headerTop {
    grid-template-columns: 81.8rem 1fr;
  }

  .title {
    font-size: 7rem;
    letter-spacing: -0.35rem;
  }

  .subtitle {
    font-size: 4rem;
    margin-bottom: 1.6rem;
  }

  .headerBottom {
    display: grid;
    grid-template-columns: 66.8rem 43rem 1fr;
    gap: 17.8rem;
  }
  .list {
    gap: 3rem;
    > li:not(:last-child) {
      padding-bottom: 3rem;
    }
  }
  .titleCol {
    font-size: 2.4rem;
    line-height: 112%;
  }

  .fonts {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    font-size: 1.6rem;
    margin-top: 2.4rem;
  }

  .text {
    color: #e0e0e0;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 140%;
  }

  .innerRow {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .innerCol {
    display: grid;
    gap: 1.6rem;
  }

  .colors {
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
    padding-bottom: 4rem;
  }

  .colorItem {
    padding: 2.4rem;
    height: 36.3rem;
  }

  .colorItemValue {
    gap: 6.1rem;
    font-size: 1.8rem;
    font-style: normal;
    letter-spacing: -0.054rem;
  }

  .colorsList {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-style: normal;
    letter-spacing: -0.054rem;
  }
}
