.section {
  margin-top: -0.2rem; // fix white stripe
  padding: 11.2rem 0;
  background: #101010;
}

.header {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .section {
    padding: 15.6rem 0;
  }
}
