.section {
  position: relative;
  overflow: hidden;
}

.label {
  margin-bottom: 2rem;
}

.title {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  /* 4.032rem */
  letter-spacing: -0.108rem;
  margin-bottom: 3.2rem;
}

.text {
  margin-bottom: 3.2rem;
}
.listWrapper {
  position: relative;
  margin-top: calc(var(--locked-vh ) * -0.7);
  margin-bottom: calc(var(--locked-vh ) * -0.8);
  height: 400rem;
}
.list {
  display: flex;
  height: var(--locked-vh,100vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  >li{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: max-content;
    display: flex;
    transform: translateY(100%);

  }
}



@media (min-width: 768px) {
  .label {
    float: left;
    padding-top: 1rem;
    margin-right: 25rem;
  }

  .title {
    width: 151rem;
    font-size: 7rem;
    letter-spacing: -0.35rem;
    margin-bottom: 4rem;
  }

  .text {
    margin-left: 82rem;
    width: 53.5rem;
    margin-bottom: 4rem;
  }

  .listWrapper {
    margin-top: calc(var(--locked-vh ) * -1);
    margin-bottom: calc(var(--locked-vh ) * -0.8);
    height: 1000rem;
  }

}