.section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 1px;

  &:after {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 1.6rem;
    right: 1.6rem;
    content: "";
    height: 1px;
    background: #1010101F;
  }
}

.label {
  margin-bottom: 2rem;
}

.title {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  /* 4.032rem */
  letter-spacing: -0.108rem;
  margin-bottom: 3.2rem;
}

.text {
  margin-bottom: 3.2rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;

  overflow: hidden;


  >li{
    height: 100vh;
    display: flex;
    width: 100%;
  }
}



@media (min-width: 768px) {
  .section {

    &:after {
      left: 4rem;
      right: 4rem;
    }
  }
  .label {
    float: left;
    padding-top: 1rem;
    margin-right: 25rem;


  }

  .title {
    width: 151rem;
    font-size: 7rem;
    letter-spacing: -0.35rem;
    margin-bottom: 4rem;
  }

  .text {
    margin-left: 82rem;
    width: 53.5rem;
    margin-bottom: 6rem;
  }



}